main .text-container{
    background:var(--dark-bg);
    color: white;
    padding: 50px 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
main .text-container article h2, main .team-container h2{
    font-size: 36px;
    margin: 0;
    font-weight: 400;
    text-align: center;
}
main .text-container article p {
    max-width: 700px;
}

@media(width < 1200px){
    main .text-container{
        padding-left: 60px;
        padding-right: 60px;
        margin-left: 0;
        margin-right: 0;
    }
}
@media(width < 992px){
    main .text-container{
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
        margin-right: 0;
    } 
    main .text-container article h2{
        font-size: 34px;
    }
}
@media(width < 768px){
    main .text-container article h2{
        font-size: 32px;
    }
}
@media(width < 576px){
    main .text-container article h2{
        font-size: 26px;
    }
}