:root {
    --light-bg: #F3F3F3; /* Světlé pozadí */
    --dark-bg: #333333;  /* Tmavé pozadí pro tlačítka */
    --button: #0D0D0D;        /* Tmavý text */
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    overflow-x: hidden;
}


body,button, input{
    font-family: "Montserrat", sans-serif!important;
}

[class*="col-"] {
    width: calc((100% / 12) * var(--col-num));
}

@media (min-width: 1px){
    .col-1 { --col-num: 1; }
    .col-2 { --col-num: 2; }
    .col-3 { --col-num: 3; }
    .col-4 { --col-num: 4; }
    .col-5 { --col-num: 5; }
    .col-6 { --col-num: 6; }
    .col-7 { --col-num: 7; }
    .col-8 { --col-num: 8; }
    .col-9 { --col-num: 9; }
    .col-10 { --col-num: 10; }
    .col-11 { --col-num: 11; }
    .col-12 { --col-num: 12; }
} 
@media (min-width: 768px){
    .col-md-1 { --col-num: 1; }
    .col-md-2 { --col-num: 2; }
    .col-md-3 { --col-num: 3; }
    .col-md-4 { --col-num: 4; }
    .col-md-5 { --col-num: 5; }
    .col-md-6 { --col-num: 6; }
    .col-md-7 { --col-num: 7; }
    .col-md-8 { --col-num: 8; }
    .col-md-9 { --col-num: 9; }
    .col-md-10 { --col-num: 10; }
    .col-md-11 { --col-num: 11; }
    .col-md-12 { --col-num: 12; }
} 

@media (min-width: 1200px){
    .col-lg-1 { --col-num: 1; }
    .col-lg-2 { --col-num: 2; }
    .col-lg-3 { --col-num: 3; }
    .col-lg-4 { --col-num: 4; }
    .col-lg-5 { --col-num: 5; }
    .col-lg-6 { --col-num: 6; }
    .col-lg-7 { --col-num: 7; }
    .col-lg-8 { --col-num: 8; }
    .col-lg-9 { --col-num: 9; }
    .col-lg-10 { --col-num: 10; }
    .col-lg-11 { --col-num: 11; }
    .col-lg-12 { --col-num: 12; }
} 
